<div id="panel" class="main-visual">
  <img src="/img/map2.jpg">
  <svg id="graph">
    <path id="graphEdges" d="M0 0 Z"/>
  </svg>
</div>

<div class="hero-unit">
  <form id="episode-form" class="form-horizontal" action="/episodes" method="POST">
    <fieldset>
      <legend>Create a new Episode</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {episode: params}) %>

      <textarea name="story"></textarea>

      Conditions: <br>
      <div class="control-group conditions">

      <input type='hidden' name='isWinner'>

      <a href="" id="add-condition">Add condition</a>

      <div class="form-actions">
        <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>

  </form>
</div>

<script>
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            {title: 'Test template 1', content: 'Test 1'},
            {title: 'Test template 2', content: 'Test 2'}
        ]
    });

      var id = 1025;//current id
      var parrent = 1024;
      var curNode = {
        "title" : "current episode name",
        "url" : "/current/",
      }
      $(document).ready(function(){
        var graph = new SvGraph(document.getElementById("graph"),document.getElementById("graphEdges"));
        $("#panel").click(function(e){
          curNode.id = id++;
          curNode.current = true;
          curNode.x = e.offsetX;
          curNode.y = e.offsetY;
          var current = graph.currentNodeId();
          graph.addNode(
            curNode
          );
          graph.addEdge({
            start : current,
            end : curNode.id
          });
          // $("#panel").off("click");
        });

        //static data
        graph.addNodes({
          "edit" : false,
          node:[
            {
              "x":150,
              "y":70,
              "title":"The battle of quell danas",
              "url":"/book/episode/battle",
              "id": 1000,
              "current":true
            }],
          });
        // graph.addNodes({
        //   "edit" : false,
        //   node:[
        //     {
        //       "x":150,
        //       "y":70,
        //       "title":"The battle of quell danas",
        //       "url":"/book/episode/battle",
        //       "id": 1000,
        //       "current":true
        //     },
        //     {
        //       "x":190,
        //       "y":220,
        //       "title":"The clash of the titans",
        //       "url":"/book/episode/city1",
        //       "id": 1001,
        //     },
        //     {
        //       "x":115,
        //       "y":98,
        //       "title":"When all hell broke loose",
        //       "url":"/book/episode/damnit3",
        //       "id": 1002,
        //     },
        //     {
        //       "x":201,
        //       "y":88,
        //       "title":"Ninjas attack",
        //       "url":"/book/episode/gagag",
        //       "id": 1003,
        //     }
        //   ],
        //   edges:[
        //     {
        //       "start":1000,
        //       "end":[1001],
        //     },
        //     {
        //       "start":1001,
        //       "end":[1002],
        //     },
        //     {
        //       "start":1002,
        //       "end":[1003],
        //     }
        //   ]
        // })
      });
    </script>
