<div class="control-group">
  <label for="title" style="color:white">Title</label>
  <%- contentTag('input', episode.title, {type:'text', class:'span8', name:'title'}) %>
</div>
<div class="control-group offset2 span1">
  <label for="isFinal" style="color:white">isFinal</label>
  <div>
    <select name="isFinal" class="span1">
      <% if(episode.isFinal) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>
<div class="control-group span3">
  <label for="isFirst" style="color:white">isFirst</label>
  <div>
    <select name="isFirst", class="span1">
      <% if(episode.isFirst) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>
<div style="clear:both"></div>
