<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', episode.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="isFinal" class="control-label">isFinal</label>
  <div class="controls">
    <select name="isFinal", class="span1">
      <% if(episode.isFinal) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>
<div class="control-group">
  <label for="isFirst" class="control-label">isFirst</label>
  <div class="controls">
    <select name="isFirst", class="span1">
      <% if(episode.isFirst) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>
