<div class="hero-unit">
  <h2>All Episodes</h2>
  <%- linkTo('Create a new Episode', addEpisodePath, {class: 'btn pull-right'}); %>
</div>

<div id="episodes-list">
<% if (episodes) { %>
<% for (var i = 0, ii = episodes.length; i < ii; i++) { %>
  <div class="row list-item" id="episode-<%= episodes[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(episodes[i].title, episodePath(episodes[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= episodes[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>