<div class='span12 offset5'>
	<form method='POST' action='/prepareSession'>
		<div class='row'>
			<%- contentTag('input','',{type:'text',name:'userName',id:'userName'})%>
		</div>
		<div class='row'>
			<%- contentTag('input','',{type:'password',name:'password',id:'password'})%>
		</div>
		<div class='row'>
			<%- contentTag('input','',{type:'submit',name:'submit',id:'submit', class:'btn btn-large'})%>
		</div>
	</form>
</div>