<div class="hero-unit">
  <form id="hero-form" class="form-horizontal" action="/heros" method="POST">
    <fieldset>
      <div>
       <strong> Create a new Hero </strong>
      </div>
      <%- partial('form', {hero: hero,isAdd:true}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Create Hero', {type: 'submit', class: 'btn btn-primary pull-right'}) %>
      </div>
    </fieldset>
  </form>
</div>
