<div class="hero-unit">
  <form id="hero-form" class="form-horizontal" action="/heros" method="POST">
    <fieldset>
      <div>
       <strong> Create a new Hero </strong>
      </div>
      <%- partial('form', {hero: params}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Add', {type: 'submit',name:'name', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
