<div class="hero-unit">
  <h2>All Heros</h2>
  <%- linkTo('Create a new Hero', addHeroPath, {class: 'btn pull-right'}); %>
</div>

<div id="heros-list">
<% if (heros) { %>
<% for (var i = 0, ii = heros.length; i < ii; i++) { %>
  <div class="row list-item" id="hero-<%= heros[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(heros[i].id, heroPath(heros[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= heros[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>