<%= partial('layout_header'); %>
  <body>
    <div class="blackline">
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="offset0 span4">
            <img class="logo" src="/img/BookLogo.png">
          </div>
          <div class="span6">
            <nav>
              <a href="#" class="btn btn-default btn-large">Books</a>
              <a href="#" class="btn btn-default btn-large">Categories</a>
              <a href="#" class="btn btn-default btn-large">Friends</a>
              <a href="#" class="">
              <% if(session && session.get('user')) { %>
                <%= session.get('user').name %></a>
              <% } %>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="grayline">
    </div>

    <%- render(); %>

  </body>
<%= partial('layout_footer'); %>

