#panel{
  background:url('/img/stripes.png') repeat;
  background-size:70px 70px;
}
#graph
{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
#panel > canvas
{
  width:100%;
}
p:hover:after
{
  position:relative;
  border-radius:5px;
  border:1px solid black;
  display:inline-block;
  padding:2px;
  background-color:#444444;
  color:white;
  content:"Click to listen to paragraph";
}
.node
{
  stroke:black;
  stroke-width:2;
  fill:rgba(255,255,255,0.7);
}
.node:hover
{
  stroke:gray;
  stroke-width:3;
}
.selected
{
  fill:rgba(255,60,60,0.7);;
}
.root
{
  fill:rgba(60,60,255,0.7);;
}
.node-title
{
  font-size:10px;
}
#graphEdges
{
  stroke:black;
  stroke-dasharray:5,5;
  stroke-width:3;
}

body {
  margin:0;
  padding:0;
  font-family:Helvetica;
  background:#334433;
}
.turbobig
{
  width:100%;
}
h1,h2,h3,h4,h5,h6
{
  font-style:italic;
}
.book-intro
{
  padding: 10px;
  line-height: 30px;
  color: inherit;
  background-color: #558855;
}
.title-intro
{
  padding: 10px;
  line-height: 30px;
  color: inherit;
  background-color: #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.title-intro h2
{
  border-top:2px solid #777777;
  border-bottom:2px solid #777777;
}
.blackline
{
  height:5px;
  background:black;
}
.on-top
{
  position:relative;
  z-index:1000 !important;
}
.health-orb
{
  z-index:100;
  width:50px;
  height:50px;
  border-radius:100%;
  box-shadow:0px 0px 5px;
  background:red;
  position:absolute;
  overflow:hidden;
  background: #e4f5fc; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #e4f5fc 0%, #bfe8f9 20%, #bfe8f9 20%, #9fd8ef 40%, #9fd8ef 40%, #9fd8ef 55%, #e4f5fc 74%, #2ab0ed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e4f5fc), color-stop(20%,#bfe8f9), color-stop(20%,#bfe8f9), color-stop(40%,#9fd8ef), color-stop(40%,#9fd8ef), color-stop(55%,#9fd8ef), color-stop(74%,#e4f5fc), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #e4f5fc 0%,#bfe8f9 20%,#bfe8f9 20%,#9fd8ef 40%,#9fd8ef 40%,#9fd8ef 55%,#e4f5fc 74%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #e4f5fc 0%,#bfe8f9 20%,#bfe8f9 20%,#9fd8ef 40%,#9fd8ef 40%,#9fd8ef 55%,#e4f5fc 74%,#2ab0ed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #e4f5fc 0%,#bfe8f9 20%,#bfe8f9 20%,#9fd8ef 40%,#9fd8ef 40%,#9fd8ef 55%,#e4f5fc 74%,#2ab0ed 100%); /* IE10+ */
  background: linear-gradient(45deg,  #e4f5fc 0%,#bfe8f9 20%,#bfe8f9 20%,#9fd8ef 40%,#9fd8ef 40%,#9fd8ef 55%,#e4f5fc 74%,#2ab0ed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.move-a-little-bit-right
{
  margin-left:20px;
}
.left-orb
{
  top:33%;
  right:2%;
}
.right-orb
{
  top:33%;
  left:2%;
}
.health-orb > .hp
{
  bottom:0;
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  transition:all 1s;
background: #ea2222; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ea2222 0%, #ea2222 59%, #fc5a5d 71%, #ea2222 83%, #fc5a5d 91%, #fc5a5d 91%, #ea2222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ea2222), color-stop(59%,#ea2222), color-stop(71%,#fc5a5d), color-stop(83%,#ea2222), color-stop(91%,#fc5a5d), color-stop(91%,#fc5a5d), color-stop(100%,#ea2222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #ea2222 0%,#ea2222 59%,#fc5a5d 71%,#ea2222 83%,#fc5a5d 91%,#fc5a5d 91%,#ea2222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #ea2222 0%,#ea2222 59%,#fc5a5d 71%,#ea2222 83%,#fc5a5d 91%,#fc5a5d 91%,#ea2222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #ea2222 0%,#ea2222 59%,#fc5a5d 71%,#ea2222 83%,#fc5a5d 91%,#fc5a5d 91%,#ea2222 100%); /* IE10+ */
background: linear-gradient(45deg,  #ea2222 0%,#ea2222 59%,#fc5a5d 71%,#ea2222 83%,#fc5a5d 91%,#fc5a5d 91%,#ea2222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2222', endColorstr='#ea2222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.health-orb > .hp[data-hp='9']
{
  height:90%;
}
.health-orb > .hp[data-hp='8']
{
  height:80%;
}
.health-orb > .hp[data-hp='7']
{
  height:70%;
}
.health-orb > .hp[data-hp='6']
{
  height:60%;
}
.health-orb > .hp[data-hp='5']
{
  height:50%;
}
.health-orb > .hp[data-hp='4']
{
  height:40%;
}
.health-orb > .hp[data-hp='3']
{
  height:30%;
}
.health-orb > .hp[data-hp='2']
{
  height:20%;
}
.health-orb > .hp[data-hp='1']
{
  height:10%;
}
.health-orb > .hp[data-hp='0']
{
  height:0%;
}

.grayline
{
  height:5px;
  background:#777777;
}
.btn-default
{
  border:none;
  box-shadow:none;
  border:1px solid black;
  text-shadow:none;
  border-radius:2px;
  background:#222222;
  color:#aaaaaa;
  transition:color,background 1s;
}

input
{
  border-radius:0px !important;
  border:1px solid black !important;
}
.main-visual
{
  overflow:hidden;
  position:relative;
}

.main-visual canvas
{
  width:100%;
  height:370px;
}

.main-visual img
{
  width:100%;
  height:370px;
}
.main-visual video
{
  margin-top:-30%;
  width:100%;
}
.main-visual .content
{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}
.main-visual .intro
{
  border-radius:15px;
  margin-top:15px;
  background:white;
}
.small-empty-space
{
  height:20px;
}
.empty-space
{
  height:100px;
}
.logo
{
  width:50px;
  height:50px;
}
.bg1
{
  background-color:black;
}
.bg2
{
  background-color:white;
}
.offseted-content
{
  margin:15px;
}
header
{
  background:#334433;
  padding:5px;
}
header nav
{
  float:right;
}

body.application {
  padding-top: 60px;
  padding-bottom: 40px;
}
code {
  white-space: pre;
}

.navbar-fixed-top {
}

.geddy-welcome-box {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {
  line-height: 1.25;
  margin-bottom: 20px;
}

.geddy-welcome-box p {
  max-width: 760px;
  margin: 0 auto;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
}

.list-item {
  margin-bottom: 20px;
}

.list-item div {
  background: white;
  border-bottom: 2px solid #ccc;
}

.list-item div > * {
  padding: 20px;
}

.list-item div h3 i {
  margin: 5px;
}

#flash-container {
  margin-top: 48px;
}

@media (max-width:480px) {
  .hero-unit .pull-right {
    float: none;
    margin-top: 10px;
  }
}
.hero
{
  height:200px;
  background-color:#222222;
  padding:5px;
  border-radius:10px;
  color:#aaaaaa;
  overflow:hidden;
}
.hero:hover
{
  background-color:#333333;
  color:black;
}
.hero > .span2
{
  margin:0;
}
.hero:nth-child(2n + 2)
{
  margin-left:10px;
}
.hero img
{
  height:200px;
  border:1px solid black;
  border-radius:15px;
}

.woodtable
{
  background:url('/img/wood.jpg') repeat;
  background-size:300px 300px;
}

.hero{
  cursor:pointer;
  margin:0;
  margin-bottom:25px;
}

.circle
{
position:absolute;
width:15px;
height:15px;
background:blue;
border-radius:100%;

.left-hover-img
{
  /*-webkit-animation: wiggleLeft 100ms ease-in-out 0s infinite 10;*/
  transform: perspective( 600px )rotateY( 25deg );
  width:100%;
  border-radius:25px;
  border:3px solid black;
  border-right:1px solid black;
  margin-left:-50px;
}

.right-hover-img
{
  /*-webkit-animation: wiggleRight 100ms ease-in-out 0s infinite 10;*/
  transform: perspective( 600px )rotateY( -25deg );
  width:100%;
  border-radius:25px;
  border:3px solid black;
  border-left:1px solid black;
  margin-left:50px;
}

@-webkit-keyframes wiggleRight {
    from {transform: perspective( 600px ) rotateY( -25deg ) rotateZ(5deg);}
    to {transform: perspective( 600px ) rotateY( -35deg ) rotateZ(-5deg);}
}

@-webkit-keyframes wiggleLeft {
    from {transform: perspective( 600px ) rotateY( 25deg ) rotateZ(-5deg);}
    to {transform: perspective( 600px ) rotateY( 35deg ) rotateZ(5deg);}
}

.book
{
  background:url('/img/bookback.png');
  background-size: 100%; 100%;
  background-repeat: no-repeat;
  width:100%;
  height:450px;
}
