body {
  margin:0;
  padding:0;
  font-family:Helvetica;
  background:#334433;
}
.turbobig
{
  width:100%;
}
h1,h2,h3,h4,h5,h6
{
  font-style:italic;
}
.title-intro
{
  padding: 10px;
  line-height: 30px;
  color: inherit;
  background-color: #eee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.title-intro h2
{
  border-top:2px solid #777777;
  border-bottom:2px solid #777777;
}
.blackline
{
  height:5px;
  background:black;
}
.grayline
{
  height:5px;
  background:#777777;
}
.btn-default
{
  border:none;
  box-shadow:none;
  border:1px solid black;
  text-shadow:none;
  border-radius:2px;
  background:#222222;
  color:#aaaaaa;
  transition:all 1s;
}
input
{
  border-radius:0px !important;
  border:1px solid black !important;
}
.main-visual
{
  overflow:hidden;
  position:relative;
}

.main-visual img
{
  width:100%;
}
.main-visual video
{
  margin-top:-30%;
  width:100%;
}
.main-visual .content
{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}
.main-visual .intro
{
  border-radius:15px;
  margin-top:15px;
  background:white;
}
.small-empty-space
{
  height:20px;
}
.empty-space
{
  height:100px;
}
.logo
{
  width:50px;
  height:50px;
}
.bg1
{
  background-color:black;
}
.bg2
{
  background-color:white;
}
.offseted-content
{
  margin:15px;
}
header
{
  background:#334433;
  padding:5px;
}
header nav
{
  float:right;
}

body.application {
  padding-top: 60px;
  padding-bottom: 40px;
}
code {
  white-space: pre;
}

.navbar-fixed-top {
}

.geddy-welcome-box {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {
  line-height: 1.25;
  margin-bottom: 20px;
}

.geddy-welcome-box p {
  max-width: 760px;
  margin: 0 auto;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
}

.list-item {
  margin-bottom: 20px;
}

.list-item div {
  background: white;
  border-bottom: 2px solid #ccc;
}

.list-item div > * {
  padding: 20px;
}

.list-item div h3 i {
  margin: 5px;
}

#flash-container {
  margin-top: 48px;
}

@media (max-width:480px) {
  .hero-unit .pull-right {
    float: none;
    margin-top: 10px;
  }
}
.hero
{
  height:200px;
  background-color:#222222;
  padding:5px;
  border-radius:10px;
  color:#aaaaaa;
  overflow:hidden;
}
.hero:hover
{
  background-color:#333333;
  color:black;
}
.hero > .span2
{
  margin:0;
}
.hero:nth-child(2n + 2)
{
  margin-left:10px;
}
.hero img
{
  height:200px;
  border:1px solid black;
  border-radius:15px;
}

.hero{
  cursor:pointer;
  margin:0;
  margin-bottom:25px;
}
