<% var hero = session.get('selectedHero');%>
<div class="main-visual">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="offset1 span4" style="margin-top:15px";>
              <%-partial('./list_online_heros',{session:session})%>  
            </div>
            <div class="offset2 span4" style="margin-top:15px";>
              <%-partial('./hero_aside',{session:session})%>	
            </div>
          </div>
        </div>
      </div>
      <video autoplay="autoplay" src="/video/mainvisual2.mp4" id="video" loop="loop">
      </video>
</div>
<div class="title-intro">
  <div class="container">
    <div class="row">
      <div class="offset2 span8">
        <h2><%= hero.name %> , Ready for battle.</h2>
      </div>
    </div>
  </div>
</div>        
<div>
  <div class="container">
    <div class="row">
      <div class="offset2 span8" style="text-align:center;padding-top:25px;padding-bottom:25px">
        <a class="btn btn-default btn-large offseted-content" href="/books/" style="display:inline">Read a book</a>
        <a class="btn btn-default btn-large offseted-content" href="/heros/" style="display:inline">Select another hero</a>
        <a class="btn btn-default btn-large offseted-content" href="/bosses/" style="display:inline">Bosses</a>
      </div>
    </div>
  </div>
</div>
<div class="bg1">
  <div class="container">
    <div class="row">
      <div class="offset2 span2">
        <a class="btn btn-default btn-large offseted-content" style="width:100%" href="#">My Books</a>
        <a class="btn btn-default btn-large offseted-content" style="width:100%" href="#">Statistics</a>
      </div>
      <div class="span4">
        <a class="btn btn-default btn-large offseted-content" style="width:100%;background-color:white;color:black;" href="/books/add">Write a book</a>
        <a class="btn btn-default btn-large offseted-content" style="width:100%;background-color:white;color:black;" href="#">Game Shop</a>
      </div>
      <div class="span2">
        <a class="btn btn-default btn-large offseted-content" style="width:100%" href="#">Read Books</a>
        <a class="btn btn-default btn-large offseted-content" style="width:100%" href="#">Friends</a>
      </div>
    </div>
  </div>
</div>
<div class="small-empty-space">
</div>
<div class="blackline">
</div>